<template>
    <div v-if="ready" class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Клуб</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Плейлист ({{ playlist.length }})
                            <button v-if="playlist.length > 0" class="btn btn-primary btn-xs" @click="prevSong"><i class="glyphicon glyphicon-step-backward"></i></button>
                            <button v-if="playlist.length > 0" class="btn btn-primary btn-xs" @click="nextSong"><i class="glyphicon glyphicon-step-forward"></i></button>
                        </h4>
                        <hr>
                        <ol v-if="playlist.length > 0">
                            <li v-for="(song, index) in playlist">
                                {{ song.genre }} <span class="text-success" v-if="index == currentSong"><b>(Сейчас играет)</b></span>
                            </li>
                        </ol>
                        <p v-else class="alert alert-danger">
                            Плейлист пуст
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4>Персонажи ({{ people.total }})</h4>
                        <hr>
                        <ol v-if="people.total > 0">
                            <li v-for="person in people.persons">
                                {{ person.name }} ({{ person.gender }})
                            </li>
                        </ol>
                        <p v-else class="alert alert-danger">
                            В клуб никто не пришел
                        </p>
                    </div>
                </div>
                <hr>
                <div>
                    <h4>Кто чем занят</h4>
                    <hr>
                    <div>
                        <ol v-if="people.total > 0">
                            <li v-for="person in people.persons">
                                <b>{{ person.name }}</b> {{ person.activity }}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    module.exports = {
        props: ['ready', 'playlist', 'currentSong', 'people'],
        methods: {
            nextSong: function () {
                var parent = this.$parent;
                axios.post('/club/nextSong')
                    .then(function (response) {
                        parent.loadData();
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            prevSong: function () {
                var parent = this.$parent;
                axios.post('/club/prevSong')
                    .then(function (response) {
                        parent.loadData();
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            }
        }
    };
</script>
