<template>
    <div v-if="ready && editMode" class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Открыть клуб</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>
                            Плейлист ({{ playlist.length }})
                            <button v-if="genres.length > 0" class="btn btn-success btn-xs" @click="addSong"><i class="glyphicon glyphicon-plus"></i></button>
                            <small v-else class="text-danger"><br>Невозможно добавить песню. Нет доступных жанров.</small>
                        </h4>
                        <hr>
                        <div v-if="playlist.length > 0 && genres.length > 0">
                            <div class="panel panel-default" v-for="(song, index) in playlist">
                                <div class="panel-heading">
                                    Жанр:
                                    <select v-model="playlist[index].genre">
                                        <option v-for="genre in genres" :value="genre.id">{{ genre.name }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            Персонажи ({{ people.length }})
                            <button class="btn btn-success btn-xs" @click="addPerson"><i class="glyphicon glyphicon-plus"></i></button>
                        </h4>
                        <hr>
                        <div v-if="people.length > 0">
                            <div class="panel panel-default" v-for="(person, index) in people">
                                <div class="panel-heading">
                                    Имя:
                                    <input type="text" :value="people[index].name">
                                    Пол:
                                    <select v-model="people[index].gender">
                                        <option v-for="(gender, gender_index) in genders" :value="gender_index">{{ gender }}</option>
                                    </select>
                                </div>
                                <div class="panel-body">
                                    Предпочтения:
                                    <button class="btn btn-success btn-xs" @click="addSkill(people[index])"><i class="glyphicon glyphicon-plus"></i></button>
                                    <div class="alert alert-info" v-for="(skill, skill_index) in people[index].skills">
                                        Навык:
                                        <select v-model="people[index].skills[skill_index].level">
                                            <option v-for="(level, level_index) in levels" :value="level_index">{{ level }}</option>
                                        </select>
                                        Танец:
                                        <select v-model="people[index].skills[skill_index].dance">
                                            <option v-for="dance in dances" :value="dance.id">{{ dance.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <ul v-if="Object.keys(this.formErrors).length > 0" class="alert alert-danger">
                        <li v-for="error in formErrors">
                            {{ error[0] }}
                        </li>
                    </ul>
                    <button class="btn btn-success" @click="submitClub">Открыть клуб</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    module.exports = {
        props: ['ready', 'editMode', 'genres', 'genders', 'dances', 'levels'],
        data: function () {
            return {
                playlist: [],
                people: [],
                formErrors: [],
            }
        },
        methods: {
            addSong: function () {
                this.playlist.push({
                    genre: this.genres[0].id
                });
            },
            addPerson: function () {
                this.people.push({
                    name: 'Персонаж ' + Date.now(),
                    gender: 0,
                    skills: [],
                });
            },
            addSkill: function (person) {
                person.skills.push({
                    level: 0,
                    dance: this.dances[0].id,
                });
            },
            submitClub()
            {
                var parent = this.$parent;
                var self = this;
                self.formErrors = [];
                axios.post('/club/open', {
                    playlist: this.playlist,
                    people: this.people
                })
                    .then(function (response) {
                        Club.editMode = false;
                        parent.loadData();
                    })
                    .catch(function (error) {
                        self.formErrors = error.response.data;
                    })
            }
        }
    };
</script>
